
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    <a class="btn btn-danger col-3 d-flex align-items-center justify-content-center position-absolute"
	   style="height: 75px;width: 75px;top: 0px;left: 0px; z-index: 2;">
        <img src="https://cdn4.iconfinder.com/data/icons/music-ui-solid-24px/24/playlist_list_menu_options-3-256.png" alt="" class="w-100" id="list">
    </a>
    <div class="row w-100 m-0 " style=" height:100vh;">
        <div class="col-md-4 row flex-column m-0 p-0 align-items-center h-100" id="leftbar">
            <div class="d-flex row justify-content-end p-0 mb-3" style="height: 8%;">

                <a class="btn btn-danger col-8 me-3" style="font-size: 2em; ">回首頁</a>
            </div>
            <div style="height:90%;" class="rounded-4 bg-primary d-flex flex-column p-0">
                <div class="overflow-y-scroll px-2 border-bottom border-dark" style="height: 75%;">
                    <a class="btn btn-secondary w-100 rounded-5 d-flex align-items-center justify-content-center x-2"
                       style="font-size: 2em; height: 80px; margin-top: 10px;">
                        <p class="m-0">+ 新增聊天室</p>
                    </a>

                </div>
                <div class="px-2 pe-4">
                    <a class="btn btn-light w-100 rounded-5"
                       style="font-size: 2em; height: 80px; margin-top: 20px;"></a>
                    <a class="btn btn-light w-100 rounded-5 d-flex align-items-center justify-content-center"
                       style="font-size: 2em; height: 80px; margin-top: 10px;">
                        <p class="m-0">選擇應用</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="col px-0 h-100">
            <div class=" bg-body-secondary rounded-4 overflow-y-scroll" style="height: 91%;">
                <!--問-->
                <div class="w-100 bg-body-secondary p-5 d-flex flex-column align-items-end" style="height:auto">
                    <p class="m-0 h1">問</p>
                    <p class="m-0 h4 mt-3">
                        外的都覺得，大家都還是大概就啊下一個，一件都是的風格，有這，隱特典今沒有，瘋狂是第一。

                        跟你支還希望我會去，戀愛到了的東西便利商⋯蠻好但我漸漸這就可以。

                        少讓我覺得活著其實沒想起來，什麼的時夾真的好：一樣是是怎樣，小時覺，其他狀態定將他起來就發混亂看有，肚子見尤其是。不會跟天還歡迎的東好，就您好裡有什我的心喜歡，要這喜歡喜歡真的把自己不是說。

                        很可等等這的完全不符，是想希望型這樣對也很比起自己要，的經驗這兩之後最新那些，起來的動畫不錯洗這麼會。
                    </p>
                </div>
                <div class="w-100 bg-body-secondary p-5 d-flex flex-column" style="height:auto">
                    <p class="m-0 h1">答</p>
                    <p class="m-0 h4 mt-3">
                        外的都覺得，大家都還是大概就啊下一個，一件都是的風格，有這，隱特典今沒有，瘋狂是第一。

                        跟你支還希望我會去，戀愛到了的東西便利商⋯蠻好但我漸漸這就可以。

                        少讓我覺得活著其實沒想起來，什麼的時夾真的好：一樣是是怎樣，小時覺，其他狀態定將他起來就發混亂看有，肚子見尤其是。不會跟天還歡迎的東好，就您好裡有什我的心喜歡，要這喜歡喜歡真的把自己不是說。

                        很可等等這的完全不符，是想希望型這樣對也很比起自己要，的經驗這兩之後最新那些，起來的動畫不錯洗這麼會。
                    </p>
                </div>


            </div>
            <div class="row w-100 m-0 px-2 align-items-center justify-content-center bg-secondary" style="height: 8%;">
                <div class="col p-0 h-50">
                    <textarea type="text" class="w-100 h-100" style="font-size: 2.8rem;resize:none;line-height: 2.8rem;" rows="3"placeholder="Please Enter The Question"></textarea>
                </div>
                <div class="col-3 p-0 h-50">
                    <a class="btn btn-primary w-100 h-100 d-flex align-items-center justify-content-center"
                       style="font-size: 2rem;">
                        <p class="m-0 p-0">送出</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('list').addEventListener('click', function () {
            var leftbar = document.getElementById('leftbar');
            leftbar.classList.toggle('d-none');
        });

    </script>
</body>

</html>