<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    <form  class="w-100 align-items-center justify-content-center d-flex flex-column row m-0" style="height: 100vh;">
        <div class="w-100 align-items-center justify-content-center row row-cols-2 gap-lg-4 p-2" style="height:86%">
            <a asp-action="" asp-controller="" class="btn btn-outline-secondary border-3 h-50 col-lg-2 col-md-3 col rounded-4 d-flex align-items-center justify-content-center"><h1>會員管理</h1></a>
            <a asp-action="Createapp" asp-controller="Member" class="btn btn-outline-secondary border-3 h-50 col-lg-2 col-md-3 col rounded-4 d-flex align-items-center justify-content-center"><h1>創建應用</h1></a>
            <a asp-action="Chooseapp" asp-controller="Member" class="btn btn-outline-secondary border-3 h-50 col-lg-2 col-md-3 col rounded-4 d-flex align-items-center justify-content-center"><h1>選擇應用</h1></a>
            <a asp-action="" asp-controller="" class="btn btn-outline-secondary border-3 h-50 col-lg-2 col-md-3 col rounded-4 d-flex align-items-center justify-content-center"><h1>使用問答</h1></a>
        </div>
        <div class="w-100 d-flex justify-content-center mt-2 row" style="height:12%">
            <a asp-action="Signout" asp-controller="LoginRegister" class="btn btn-warning col-6  h-100 d-flex align-items-center justify-content-center"><h1>Log out</h1></a>
        </div>
    </form>

</body>

</html>