<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    <form method="post" enctype="multipart/form-data" asp-controller="Member" class="w-100 align-items-center justify-content-center d-flex flex-column px-2" style="height: 100vh;">
        <div class="row w-100 align-items-center justify-content-center flex-column flex-sm-row "
             style="height: 100px;">
            <h1 class="col-sm-4 col d-flex m-0 h-100 align-items-center justify-content-center">上傳檔案</h1>
            @*<input class="h-100 col-md-5 col rounded-pill bg-body-secondary border-0 md-50 me-2 px-5 py-2 text-sm-start" type="file" style="font-size: 18pt;">*@
            <input type="file" class="form-control" name="files" id="fileUpload" accept=".pdf,.csv,.txt,.json" multiple />
        </div>
        <div class="w-100 justify-content-around row position-absolute"
             style="height:100px;margin-top: 80px; bottom: 30px;">
            <input type="submit" class="btn btn-primary col-md-3 col-5 h-100 rounded-pill d-flex align-items-center justify-content-center" style="font-size: calc(1.375rem + 1vw);" value="上傳">
            <a asp-action="Index" asp-controller="Member" class="btn btn-danger col-md-3 col-5 h-100 rounded-pill d-flex align-items-center justify-content-center">
                <h1>取消</h1>
            </a>
        </div>

    </form>

    
</body>

</html>